@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* Reset */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    border-style: solid;
    border-width: 5px;
    background-color: transparent;
    
    width: 200px;
    padding: 10px;
    cursor: pointer;

    transition: all 500ms ease;
}

#rgb button {
    border-color: white;
    color: white;
}

#hex button {
    border-color: black;
    color: black;
}

#invert-hex,
#invert-rgb {
    display: none;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: 700;
}

ul li {
    list-style: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-family: 'Roboto Mono', monospace;

    min-height: 50vh;
    padding: 50px
}

section#rgb {
    background-color: black;
    color: #ffffff; 
}

section#hex {
    background-color: white;
    color: black;
}

.circle,
.square {
    height: 300px;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 100%;
    background-color: white;
    color: black;
}

.square {
    background-color: black;
    color: white;
}
